html {
    height: 100%;
  }

  body {
    min-height: 100%;
    background-color: #96daf4;
   
  }

  .player-header-nav {
  background-color: #201013;
  margin: 0;
  border-radius: 0;
}

.navbar-nav a {
      line-height: 50px;
      color: white;
      letter-spacing: 1.2;
    }
 
  .navbar-nav a:hover {
         color: white;
         background-color: #96daf4 !important;
      }

  .navbar-brand {
    color: #96daf4;
    height: auto;
  }

  .navbar-brand:hover {
  background-color: #96daf4;
  color: white;
}

.bg img {
  /* Set rules to fill background */
  
  
  /* Set up proportionate scaling */
  width: 100%;
  
  /* Set up positioning */
  position: fixed;
  padding-top: 0;
  margin-top: 0;
  right: 0;
}

.corey img {
  max-width: 75%;
  border-radius: 50%;
  margin-top: 50%;
}

.description {
  padding: 0 5%;
  margin-top: 10%;
}

@font-face {
    font-family: "Peaches";
    src: url("/app/assets/fonts/PeachesAndCream_Regular.otf") format("opentype");
}

.wrap {
  border: 1px solid rgba(255, 255, 255, .75);
  border-radius: 50%;
  padding: 60px;
  margin-top: 20px;
  margin-left: 75%;
}

h1 {
  font-family: "Peaches";
  font-size: 50px;
  color: white;
  letter-spacing: 1.2;
  text-align: center;
  margin: 0;
}

h1:hover {
  background-color: #d2d6c8;
  color: #201013;
}

h2 {
  font-family: "Open Sans Condensed";
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

h3 {
  font-family: "Peaches";
  font-size: 50px;
}

p {
  font-family: 'Open Sans';
  font-size: 20px;
}



.pics {
  min-height: 100%;
  min-width: 2848px;
  width: 100%;
  height: auto;
  position: fixed;
   top: 0;
  left: 0;
}

.contact-wrapper {
  min-height: 100%;
  background-color: #96daf4;
  padding: 0;
  margin: 0;
}

.pics:hover {
  -webkit-transition-duration: .5s;
  -webkit-transform: scale(1.5);
  z-index: 10;
}

.basil {
  bottom: 0;
  margin-left: 50%;
}

.basil:hover { 
  -webkit-transition-duration: 30s;
  -webkit-transform: translate(80px,-300px) scale(.01);
  -moz-transform: translate(80px,-300px) scale(.01);
  transform: translate(80px,-300px) scale(.01);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media screen and (min-width: 769px) {

  .navbar-header {
    height: 85px;
  }

  .navbar-header .btn-navbar {
      display: none;
    }
  .navbar-header li {
      display: block;
    }
  }


@media screen and (max-width: 768px) {

   .btn-navbar {
    height: 50px;
    width: 50px;
    float: right;
    display: block;
    text-align: center;
   }

  /* Landing Page and Global Styles */
.fa-navicon {
  color: white;
  margin-top: 8px;
}

.bg img {
  /* Set rules to fill background */
  
  
  
  /* Set up proportionate scaling */
  width: 100%;
  
  /* Set up positioning */
  position: fixed;
  padding-top: 0;
  margin-top: 0;
  right: 0;
}
  
}