html {
    height: 100%;
  }

  body {
    min-height: 100%;
    background-color: #96daf4;
   
  }

  .player-header-nav {
  background-color: #201013;
  margin: 0;
  border-radius: 0;
}

.navbar-nav.navbar-right {
  margin-top: -10px;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -60px;
}

.navbar-nav a {
      line-height: 50px;
      color: white;
      letter-spacing: 1.2;
      border: 1px solid black;
    }
 
  .navbar-nav a:hover {
         color: white;
         background-color: #96daf4 !important;
         border: 1px solid white;
         text-shadow: 0px 2px 3px black;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
      }

  .navbar-nav a:active {
         color: white;
         background-color: #96daf4 !important;
         border: 1px solid white;
         text-shadow: 0px 2px 3px black;
}

  .navbar-brand {
    color: #96daf4;
    height: auto;
    padding-top: 13px;
    border: 1px solid black;
  }

  .navbar-brand:hover {
  background-color: #96daf4;
  color: white;
  border: 1px solid white;
  text-shadow: 0px 2px 3px black;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
}

.footer {
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
  background-color: #201013;
  z-index: 100;
}

.footer-right li {
  display: inline-block;
  float: right;
}

.footer-right i {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.footer-right i:hover {
  padding-top: 5px;
   color: white;
   background-color: #96daf4 !important;
   border: 1px solid white;
   text-shadow: 0px 2px 3px black;
   -webkit-transition: all .5s linear;
   -moz-transition: all .5s linear;
}

.bg img {
  /* Set rules to fill background */
  height: auto;
  
  /* Set up proportionate scaling */
  width: 100%;
  
  /* Set up positioning */
  position: fixed;
  padding-top: 0;
  margin-top: 0;
  right: 0;
}

.portfolio-wrap {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
  background: white;
}

.ri-grid {
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, .3);
}

.ri-grid img {
  height: auto;
  max-width: 100%;
}

.slider {
  width: 50%;
  max-height: 275px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, .3);
}

.slider2 {
  width: 100%;
  height: 275px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-indicators li { 
  visibility: hidden; 
}

.corey img {
  max-width: 100%;
  border-radius: 50%;
  margin-top: 50%;
  border: 1px solid white;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
}

hr {
  margin-left: 20%;
  margin-right: 20%
}

.description {
  padding: 0 10% 65px 5%;
  margin-top: 2%;
  z-index: 1;
}

p a {
  color: white;
  font-size: 22px;
  font-family: 'Open Sans';
  background-color: rgba(216, 202, 191, .95);
  text-decoration: none;
  font-weight: 800;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
}

p a:hover {
  color: white !important;
  font-size: 30px;
  font-family: 'Open Sans';
  background-color: black;
  text-decoration: none;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
   -webkit-transition: all .5s linear;
   -moz-transition: all .5s linear;
}

#space {
  padding-top: 50px;
}

.highlight:hover {
  color: black !important;
  background-color: rgba(216, 202, 191, .95);
  text-decoration: none;
  font-weight: 800;
}

.upward {
  height: 100px;
  width: 100px;
  display: block;
  position: fixed;
  right: 5%;
  bottom: 40%; 
  z-index:10;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
}

.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

@font-face {
    font-family: "Peaches";
    src: url("/app/assets/fonts/PeachesAndCream_Regular.otf") format("opentype");
}

.wrap {
  border: 1px solid rgba(255, 255, 255, .75);
  border-radius: 50%;
  padding: 60px;
  margin-top: 20px;
  margin-left: 75%;
}

h1 {
  font-family: "Peaches";
  font-size: 50px;
  color: white;
  letter-spacing: 1.2;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Open Sans Condensed";
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

h3 {
  font-family: "Peaches";
  text-align: center;
  background-color: rgba(216, 202, 191, .95);
  padding-left: 30px;
  color: white;
  font-size: 140px;
  text-shadow: 0px 2px 3px black;
  padding-bottom: 30px;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
}

p {
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 40px;
}

.contact-wrapper {
  min-height: 100%;
  background-color: #96daf4;
  padding: 0;
  margin: 0;
}

.welcome {
  text-align: middle;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
}

.form {
  margin-top: 20px;
  margin-bottom: 0;
}

form {
  margin-top: 20px;
}

.form-group label {
  font-family: "Open Sans Condensed";
  font-size: 24px;
}

.basil {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 35px !important;
  float:right;
  padding-left: 65%;
}

.basil:hover { 
  -webkit-transition-duration: 15s;
  -webkit-transform: translate(80px,-600px) scale(.1);
  -moz-transform: translate(80px,-600px) scale(.1);
  transform: translate(80px,-600px) scale(.1);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    height: auto;
    width: 100%;
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

@media screen and (min-width: 769px) {

  .navbar-header {
    height: 84px;
  }

  .navbar-header .btn-navbar {
      display: none;
    }
  .navbar-header li {
      display: block;
    }
  }


@media screen and (max-width: 768px) {

  .footer-right {
  margin-left: auto !important;
  margin-right: auto !important;
}

   .btn-navbar {
    float: right;
    display: block;
   }

  /* Landing Page and Global Styles */
.fa-navicon {
  color: white;
  margin-top: 15px;
}

.fa-navicon:hover {
  color: white;
}

 .navbar-header li {
    clear: both;
    margin-left: -20px;
  }

  .slider {
  width: 100%;
  max-height: 100px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
   margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.bg img {
  /* Set rules to fill background */
  
  
  
  /* Set up proportionate scaling */
  width: 100%;
  
  /* Set up positioning */
  position: fixed;
  padding-top: 0;
  margin-top: 0;
  right: 0;
}

.corey img {
  width: 50%;
  margin-top: 10%;
  margin-left: 25% !important;
  margin-right: 25% !important;
  border: 1px solid white;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
}

.upward {
  height: 100px;
  width: 100px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 10px; 
  z-index:10;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .3);
}




  
}