<div class='container' ng-controller="Aboutme.controller">
  <div class='row'>
        <div class='corey col-sm-3 col-xs-12'>
          <img src='app/assets/images/coreyprofile.jpg'> 
        </div>
        <div class='description col-sm-9 col-xs-12'>
          <h3>    Hi!   I'm Corey. </h3>
          <p id="space">Armed with a  <img ng-src="app/assets/images/house.jpg" ng-show="housePic" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="upward"><a href ng-click="housePic = !housePic" class="highlight">  new house, </a>   a loving and supportive   <img ng-src="app/assets/images/natey.jpg" ng-show="nateyPic" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="upward"><a href ng-click="nateyPic = !nateyPic" class="highlight"> husband, </a>   and the coolest little    <img ng-src="app/assets/images/basilboy.jpg" ng-show="basilPic" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="upward"><a href ng-click="basilPic = !basilPic" class="highlight"> Basil Boy </a>    in all of the universe, I've come to Asheville, NC to build my family and take a few photos.</p>
          <hr>
          <p> Born and raised in New Jersey, I've left that fast paced east coast life behind. Need proof? My husband promised me free-range chickens.  <br><img ng-src="app/assets/images/chickens.jpg" ng-show="chickenPic" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="upward"><a href ng-click="chickenPic = !chickenPic" class="highlight"> Chickens! </a></p>
          <hr>
          <p> These days, I spend my time in mommy world with my little one. But when I'm not raising the future    <img ng-src="app/assets/images/basil_pres.jpg" ng-show="presidentPic" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="upward"><a href ng-click="presidentPic = !presidentPic" class="highlight"> President of the United States,</a>    I enjoy trashy television (Awful Lifetime Movies), DIY projects around the house, and anything that evokes 80s and 90s nostalgia.</p>
        </div>
  </div>
</div>