<div class='container'>
  <div class='row'>
        <div class='corey col-sm-4 col-xs-12'>
          <img src='app/assets/images/coreyprofile.jpg'> 
        </div>
        <div class='description col-sm-8 col-xs-12'>
          <p> Hi! I'm Corey. Armed with a new house, a loving and supportive husband, and the coolest little Basil Boy in all of the universe, I've come to Asheville, NC to build my family and pursue my love of photography.</p>
          <hr>
          <p> Born and raised in New Jersey, I've left that fast paced east coast life behind. Need proof? My husband promised me free-range chickens. Chickens! </p>
          <hr>
          <p> These days, I spend my time in mommy world with my little one. But when I'm not raising the future president of the United States, I enjoy trashy television (Awful Lifetime Movies), DIY projects around the house, and anything that evokes 80s and 90s nostalgia.</p>

        </div>
  </div>
</div>