<div class= 'contact-wrapper'>
<div class='contact container-fluid'>
    <div class='row'>
      <div class='instagram col-sm-3'>
        <img> <!-- Corey Pic -->
      </div>
      <div class='form col-sm-6'>
        <p> As long as my husband doesn't knock me up again, I'll be available for gigs. Shoot me a message for a consultation!</p>
        <!-- Consultation Form -->
      </div>
      <div class='basil col-sm-3'>
        <img src='app/assets/images/basil_2.png'>
      </div>
    </div>
</div>
</div>