<div class='hero-content'> <!-- Hero content -->
   <div class='container-fluid'>
      <div class='row'>
        <div class='corey-main col-sm-3'>
          <img ><!-- Insert Pic of Corey -->
        </div>
        <div class='logo col-sm-6'>
          <h1>Bkind Photography</h1>
        </div>
        <div class='basil-main col-sm-3'>
          <img src='/images/basil-hero.png'> <!-- Insert pic of Basil -->
        </div>
      </div>
   </div>
</div>

<div class="landing-album-list container-fluid">
   <div class="row">
     <div class="col-sm-3 col-xs-12" ng-repeat="albumURL in albumURLs">
        <img  ng-src="{{albumURL}}">
     </div>
   </div>
</div>

<div class='profile-section container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
          <img > <!-- Insert Corey Profile Pic -->
        </div>
        <div class='col-sm-9'>
          <p> Corey's Bio </p>
        </div>
    </div>
</div>

<div class='footer container-fluid'>
    <div class='row'>
      <div class='instagram'>
      </div>
      <div class='facebook'>
      </div>
      <div class='back-up-top-link'>
      </div>
    </div>
</div>
