<div class="portfolio-wrap">

<section class="main" ng-controller='Portfolio.controller'>
        <div id="ri-grid" class="ri-grid ri-grid-size-2">
          <ul>
            <li><a href="#"><img src="app/assets/images/picture_1.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_2.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_3.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_4.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_5.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_6.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_7.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_8.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_9.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_10.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_11.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_12.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_13.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_14.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_15.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_16.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_17.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_18.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_19.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_20.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_21.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_22.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_23.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_24.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_25.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_26.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_27.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_28.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_29.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_30.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_31.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_32.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_33.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_34.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_35.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_36.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_37.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_38.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_39.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_40.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_41.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_42.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_43.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_44.jpg" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_9.jpg" class="img-responsive"/></a></li>
          </ul>
        </div>
      </section>

</div>

<div class="image-wrapper">
    <div ng-controller="Portfolio.controller">
  <div style="height: 305px">
    <carousel class='slider' interval="myInterval">
      <slide class='slider2' ng-repeat="slide in slides">
            <img ng-src="{{slide}}" style="margin:auto; width: 100%; height: auto;">
      </slide>
    </carousel>
  </div>
</div>
</div>







