<section class="main" ng-controller='Portfolio.controller'>
        <div id="ri-grid" class="ri-grid ri-grid-size-2">
          <img class="ri-loading-image" src="images/loading.gif"/>
          <ul>
            <li><a href="#"><img src="app/assets/images/picture_1.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_2.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_3.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_4.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_5.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_6.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_7.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_8.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_9.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_10.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_11.JPG"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_12.JPG"/></a></li>
            <li><a href="#"><img src="images/medium/13.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/14.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/15.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/16.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/17.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/18.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/19.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/20.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/21.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/22.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/23.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/24.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/25.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/26.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/27.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/28.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/29.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/30.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/31.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/32.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/33.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/34.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/35.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/36.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/37.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/38.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/39.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/40.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/41.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/42.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/43.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/44.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/45.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/46.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/47.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/48.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/49.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/50.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/51.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/52.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/53.jpg"/></a></li>
            <li><a href="#"><img src="images/medium/54.jpg"/></a></li>
          </ul>
        </div>
      </section>
