<div class="portfolio-wrap">

<section class="main" ng-controller='Portfolio.controller'>
        <div id="ri-grid" class="ri-grid ri-grid-size-2">
          <ul>
            <li><a href="#"><img src="app/assets/images/picture_1.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_2.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_3.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_4.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_5.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_6.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_7.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_8.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_9.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_10.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_11.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_12.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_13.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_14.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_15.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_16.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_17.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_18.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_19.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_20.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_21.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_22.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_23.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_24.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_25.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_26.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_27.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_28.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_29.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_30.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_31.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_32.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_33.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_34.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_35.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_36.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_37.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_38.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_39.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_40.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_41.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_42.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_43.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_44.JPG" class="img-responsive"/></a></li>
            <li><a href="#"><img src="app/assets/images/picture_9.JPG" class="img-responsive"/></a></li>
          </ul>
        </div>
      </section>

</div>

<div class="image-wrapper">
    <div ng-controller="Portfolio.controller">
  <div style="height: 305px">
    <carousel class='slider' interval="myInterval">
      <slide class='slider2' ng-repeat="slide in slides">
            <img ng-src="{{slide}}" style="margin:auto; width: 100%; height: auto;">
      </slide>
    </carousel>
  </div>
</div>
</div>







